h1{
    color: cadetblue;
    text-align: justify;
    font-size: 40px;
     font-weight: bold ;
     background-color: rgb(206, 244, 244);
}
p{
    color: rgb(4, 4, 4);
    font-size: 20px;
    font-style: oblique;
}
body{
    background-color: rgb(198, 247, 247);
}
table{
    border: 2px solid black;
}
th{
    background-color: rgb(247, 223, 223);
    color: rgb(37, 36, 34);
    text-transform: capitalize;
    text-align: none;
}
td{
    font-size: 16px;
    text-align: center;
}
footer{
    color: black;
    text-transform: capitalize;
    font-size: 32px;
}
pre{
    font-size: 28px;
    text-shadow: 0cap;
    text-wrap-style: auto;
    text-transform: capitalize;

    color: rgb(222, 99, 103);
}

